@model TranTuanAnh_Buoi2.Models.Category
<h2>Category Details</h2>
<div>
    <h4>Id: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
</div>
<a asp-action="Index" class="btn btn-primary">Back to List</a>
